<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css')}}">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{{ url_for('static', filename='js/utils.js')}}" defer></script>
    <script src="{{ url_for('static', filename='js/admin.js')}}" defer></script>
    <script src="{{ url_for('static', filename='js/particles.js')}}" defer></script>
</head>
<body id="particles-js"></body>
<body>
    <h1>Plagiarism Checker App</h1>

    <div class="menuContainer" onclick="myFunction(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>

  <div class="dropdown">
    <div id="myDropdown" class="dropdown-content">
      <a href="#" onclick="logOut();">Log Out</a>
    </div>
  </div>

    <div class="container">
        <div class="validation-message" id="validationMsg">Invalid file extension</div>
        <form id="plagiarismCheckerForm" class="box">
            <div class="upload-container">
              <label id="fileLabel">Upload file</label>
              <input type="file" id="fileUpload">
            </div>

            <div>
                <input type="submit" value="Submit" class="submitBtn">
            </div>

            <div>
                <input type="button" value="Clear table" class="clearBtn">
            </div>

            <h2>Data</h2>

            <table>
                <thead>
                    <tr>
                    <th scope="col" class="fileNameColumn">File name</th>
                    <th scope="col" class="contentColumn">Content</th>
                    </tr>
                </thead>
                <tbody id="resultsTableBody"></tbody>
            </table>
        </form>
    <div id="noResults">No results</div>
  </div>
</body>
  </div>
       <div class="footer">
      <span>Made by Vya4eslav Seleznev</span>
    </div>
</html>
