<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css')}}">
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="{{ url_for('static', filename='js/register.js')}}" defer></script>
  <script src="{{ url_for('static', filename='js/particles.js')}}" defer></script>
</head>
<body id="particles-js"></body>
<div class="animated bounceInDown">
  <div class="container">
    <form name="registerForm" class="box" onsubmit="return checkStuff()">
      <h4>Fill in the registration details</span></h4>
        <input type="text" name="name" placeholder="Name" autocomplete="off">
        <input type="text" name="login" placeholder="Login" autocomplete="off">
        <i class="typcn typcn-eye" id="eye"></i>
        <input type="password" name="password" placeholder="Password" id="pwd" autocomplete="off">
        <input type="submit" value="Sign up" class="signUpBtn">
      </form>
  </div>
       <div class="footer">
      <span>Made by Vya4eslav Seleznev</span>
    </div>
</div>
</html>